<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Atlas sound calendar</title>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

</head>
<body>
  <div id="cal-heatmap"></div>
  <script type="text/javascript">
    var calendar = new CalHeatMap();
    var mydate = new Date();
    var my_data = {
      "1417564800":10
      ,"1417590000":100
    };    
    calendar.init({
      data: my_data,
      start: new Date(),
      domain: "day",
      subDomain: "x_hour",
      subDomainTextFormat: "%H",
      range: 4,
      cellSize: 31
    });
  </script>
</body>
