<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Visuals!</title>
    <script>setInterval(function(){ location.reload();}, 240000);</script>
  </head>

  <body>
    <!-- Styling, Jquery, & D3 -->
    <style type="text/css"><% include assets/main.css %></style>
    <style type="text/css"><% include assets/bootstrap.min.css %></style>
    <script type="text/javascript"><% include assets/d3.min.js %></script>
    <script type="text/javascript"><% include assets/jquery.min.js %></script>

    <!-- Visualizations -->
    <div class="leftRow">
      <h3>Equalizer</h3>
      <p>Look above the screen to see the microphone! Make some noise and watch
        the frequency levels change!</p>
    </div>
    <script type="text/javascript"><% include equalizer/equalizer.js %></script>

    <div class="leftRow">
      <h3>Live Noise</h3>
      <p>This shows the noise level in real time. Just as the equalizer
        tracks instant data, this keeps track of that data as time progresses.</p>
    </div>
    <script type="text/javascript"><% include livedaily/livedaily.js %></script>

    <div class="leftRow">
      <h3>Daily Tracker</h3>
      <p>Use this to see when the atlas lobby is most noisy throughout the day!</p>
    </div>
    <script type="text/javascript"><% include liveoneday/visual.js %></script>
  </body>

</html>

