<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Visuals!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  </head>

  <body>
    <h1>Noise Visualizations!</h1>
    <style type="text/css"><% include assets/main.css %></style>
    <script type="text/javascript"><% include assets/d3.min.js %></script>
    <script type="text/javascript"><% include equalizer/equalizer.js %></script>
    <script type="text/javascript"><% include livedaily/livedaily.js %></script>
    <script type="text/javascript"><% include liveoneday/visual.js %></script>
  </body>

</html>

