<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <style>
    body {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke: black;
      stroke-width: 2.5px;
    }
  </style>
  <body> 
    <script type="text/javascript"><% include d3.js %></script>
    <script type="text/javascript"><% include visual.js %></script>
  </body>
</html>
